* {
 margin: 0;
 padding: 0;
}

body {
  width: 100%;
  background-color: #F9F9F9;
}

.headerContainer {
  max-width: 100%;
  margin: 0 auto;
}

.header {
  background: #fff;
  width: 100%;
  height: 80px;
  top: 0;
  position: fixed;
}

.logo {
  float: left;
  margin-left: 45px;
  color: #3F3F3F;
  padding-top: 22px;
  font-family: Roboto, "Frutiger LT Std", sans-serif;
  font-size: 35px;
  font-weight: 300;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #3D3D3D;
}

.nav li {
  list-style: none;
  float: left;
  margin-left: 38px;
  font-family: Neue Helvetica, "Frutiger LT Std", sans-serif;
  font-size: 10px;
  letter-spacing: 2px;
  padding-left: 12px;
  padding-right: 10px;
  padding-top: 30px;
  border-top: 4px solid transparent;
}

.nav {
  float: right;
  margin-right: 45px;
}

.nav li:hover {
  color: #fb3915;
  border-top: 4px solid #3D3D3D;
}

.cycle-slideshow, img.slide {
  position: relative;
  width: 100%;
  height: 76.6%;
  padding-top: 80px;
  left: 0;
  z-index:-9999;
  padding-bottom: 10px;
}

.contentContainer {
  background-color: #F9F9F9;
}

.title {
  font-family: "Didot LT Std";
  font-size: 92px;
  font-weight: 100;
  color: #3D3D3D;
  text-align: center;
  padding-top: 50px;
}

.textDiv {
  width: 100%;
  height: 100%;
}

.text {
  font-family: "Frutiger LT Std", sans-serif;
  font-size: 14px;
  color: #3D3D3D;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 25px;
}

.author {
  margin-top: 25px;
  font-size: 12px;
  text-align: center;
}

.audio {
  text-align: center;
  padding-top: 135px;
  padding-bottom: 25px;
}

#audioPlayer {
  width: 400px;
}

.footer {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding-bottom: 25px;
}

.footerContainer {
  margin: 0px auto;
  width: 100%;
}

.contact {
  text-align: center;
  font-family: "Frutiger LT Std", sans-serif;  
  font-size: 10px;
  padding-top: 25px;
  letter-spacing: 2px;
}

.contact a {
  color: #3D3D3D !important;
}

.socialLinks {
  text-align: center;
  margin-top: 20px;
}

.socialLinks li {
  list-style: none;
  font-size: 15px;
  color: #3D3D3D;
  padding-left: 13px;
  padding-right: 13px;
  display: inline;
}

.tradeMark {
  text-align: center;
  font-family: "Frutiger LT Std", sans-serif;
  font-size: 8px;
  padding-top: 25px;
  letter-spacing: 2px;
}

.tradeMark a {
  color: #B1B1B1;
}

/*---------begin ABOUT page stylings----------*/

.pageTitle {
  font-family: "Didot LT Std";
  font-size: 92px;
  font-weight: 100;
  color: #3D3D3D;
  text-align: center;
  padding-top: 175px;
  padding-bottom: 50px;
}

.cycle-slideshow p {
  font-family: "Frutiger LT Std";
  font-size: 16px;
  color: #3D3D3D;
  letter-spacing: 1px;
  }

.author {
  text-align: center;
}

.line {
  height: 1px;
  width: 900px;
  background-color: #D8D8D8;
  margin: 0 auto 45px auto;
}

#bio {
  height: 100%;
  width: 75%;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 75px;
}

.paragraph {
  text-align: justify;
  font-size: 16px;
}

/*------begin CONTACT page stylings------*/

.contactInfo {
  text-align: center;
  padding-bottom: 45px;
}

.contactInfo p {
  font-family: "Didot LT Std";
  font-size: 28px;
  color: #525252;
  letter-spacing: 1px;
  padding-bottom: 15px
}

.contactInfo li {
  font-family: "Frutiger LT Std", sans-serif;
  font-size: 13px;
  color: #4A4A4A;
  letter-spacing: 2px;
  display: block; 
  padding-bottom: 5px;
}

table {
  height: 100%;
  width: 75%;
  text-align: center;
  margin: auto;
  font-family: "Frutiger LT Std", sans-serif;
  font-size: 13px;
  color: #4A4A4A;
  letter-spacing: 2px;
  margin-bottom: 50px;
}

td {
  width: 50px;
}

tr {
  background-color: #EDEDED;
  height: 50px;
}

/*<----------TEACHING---------->*/  

.boxContainer {
  width: 75%;
  height: 100%;
  margin: 50px auto;
  display: block;
  background-color: #F9F9F9;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  padding-bottom: 25px;
  padding-top: 40px;
}

.box {
  height: 150px;
  width: 200px;
  background-repeat: no-repeat;
  border-radius: 8px;
  overflow: hidden;
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 15px;
  margin-right: 15px;

  webkit-animation: slider 15s infinite;
  -moz-animation: slider 15s infinite;
  -ms-animation: slider 15s infinite;
  -o-animation: slider 15s infinite;
  animation: slider 15s infinite;
 
  -webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
  box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
}

.boxImage {
  position: absolute;
  height: 150px;
  width: 200px;
}

.boxImage img:hover {
  display: none;

}

.hiddenBox {
  height: 100%;
  width: 200px;
  background: transparent;
  color: transparent;
  overflow: hidden;
 
  webkit-transition: color 0.5s ease, background-color 0.5s ease;
  -moz-transition: color 0.5s ease, background-color 0.5s ease;
  -o-transition: color 0.5s ease, background-color 0.5s ease;
  -ms-transition: color 0.5s ease, background-color 0.5s ease;
  transition: color 0.5s ease, background-color 0.5s ease;
}



.hiddenBox h2 {
  font-family: lato;
  font-size: 20px;
  margin: 10px auto 10px auto;
  text-align: center;

  webkit-transition: color 0.5s ease, background-color 0.5s ease;
  -moz-transition: color 0.5s ease, background-color 0.5s ease;
  -o-transition: color 0.5s ease, background-color 0.5s ease;
  -ms-transition: color 0.5s ease, background-color 0.5s ease;
  transition: color 0.5s ease, background-color 0.5s ease;
}
 
.hiddenBox p {
  font-family: lato;
  font-size: 12px;
  text-align: center;
  margin: 0 15px 5px 15px;

  webkit-transition: color 0.5s ease, background-color 0.5s ease;
  -moz-transition: color 0.5s ease, background-color 0.5s ease;
  -o-transition: color 0.5s ease, background-color 0.5s ease;
  -ms-transition: color 0.5s ease, background-color 0.5s ease;
  transition: color 0.5s ease, background-color 0.5s ease;
}

.hiddenBox:hover {
  background: #000; /*for old browsers */
  background: rgba(61,61,61,0.8);
  color: #fff;
}






/*<---------END TEACHING-------->*/

.underConstruction {
  font-family: "Frutiger LT Std";
  font-size: 20px;
  color: #3D3D3D;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
  height: 50px;
}


















 

